html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Inconsolata', 'Courier New', Courier, monospace;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-family: 'Londrina Sketch';
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: rgb(15,23,42);
  }
}
