html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Inconsolata', 'Courier New', Courier, monospace;
  background-color: rgb(15,23,42);
  color: rgb(250,250,255);
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-family: 'Londrina Sketch';
}

* {
  box-sizing: border-box;
}
