.container {
  padding: 0 2rem;
}

.opacity {
  opacity: 1;
  transition-property: opacity;
  transition-duration: 1s
}

.option:hover {
  background-color: yellow;
}

.option {
  max-width: 40%;
  width: 40%;
  border: 1px solid gray;
  padding: 10px;
}

.circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgb(41, 154, 156);
  position: absolute;
  top: calc(50% - 25px);
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}



