.container {
  padding: 0 2vw;
  margin: 0;
}

.main {
  height: calc(100vh - 1rem);
  padding: 0.5rem 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-shrink: 0;
  /* border: 1px solid red; */
  width: 100%;
}

/* story */

.background {
  position: relative;
  display: flex;
  justify-content: center;
  height: 100px;
  flex-shrink: 0;
  width: 100%;
}

.human {
  position: absolute;
  bottom: 0;
  left: -10px;
  height: 50px;
  width: 50px;
  background: url("/noun-hiking.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transition: all 0.8 ease-in-out;
  z-index: 10;
}

.bear {
  position: absolute;
  bottom: 0;
  height: clamp(20px, 13vw, 125px);
  width: clamp(20px, 13vw, 125px);
  background: url("/noun-bear.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transition: left 0.8s ease-out;
  z-index: 12;
  transform: translateX(-50%) translateY(20%);
}

.bear.attack {
  transform: translateX(-50%) translateY(20%) scaleX(-1);
}

.fishBone {
  position: absolute;
  bottom: 0;
  right: -10px;
  height: 50px;
  width: 50px;
  background: url("/noun-fish-bone.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transition: all 0.8 ease-in-out;
  z-index: 10;
}

.circle {
  width: 20px;
  height: 5px;
  border-radius: 50%;
  background-color: rgb(137, 137, 137);
  position: absolute;
  bottom: calc(0%);
  transform: translateX(-50%);
}

.score {
  width: 100%;
  text-align: right;
  font-size: smaller;
  color: gray;
}

/* dialogue */

.dialogueAndOptionsContainer {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
  width: 100%;
  justify-content: flex-end;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
}

.dialogue {
  overflow-y: scroll;
  flex-basis: 0;
  flex-shrink: 2;
  flex-grow: 5;
  padding: 0.2rem;
}

.dialogue {
  scrollbar-color: rgb(30, 41, 67) rgba(0, 0, 0, 0);
}

.dialogue::-webkit-scrollbar {
  width: 0.8rem;
}

.dialogue::-webkit-scrollbar-track {
  box-shadow: inset 0.1rem 0 6px rgba(0, 0, 0, 0.2);
}

.dialogue::-webkit-scrollbar-thumb {
  background-color: rgb(30, 41, 67);
  outline: 1px solid rgb(13, 73, 57);
}

.dialogue button {
  width: 100%;
}

@media screen and (min-width: 600px) {
  .dialogue button {
    width: auto;
  }
}

/* options */

.options {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  flex-grow: 0;
  flex-shrink: 2;
  flex-basis: 0;
  justify-content: space-between;
  padding-top: 1rem;
  /* padding: 0; */
  margin: 0;
}

.optionButtonWrapper {
  flex-basis: calc(50% - 5px);
  margin-bottom: 1rem;
  position: relative;
  padding-left: 30px;
}

.optionButton {
  text-align: left;
}

.optionButton:hover {
  background-color: rgb(30, 41, 67);
}

.optionButton:nth-child(odd) {
  margin-right: 5px;
}

.optionHint,
.about {
  font-family: "Cormorant Garamond", "Garamond", "Georgia", serif;
  font-size: 1.2rem;
  position: absolute;
  top: 10vh;
  bottom: 90vh;
  left: 10vw;
  right: 90vw;
  width: 80vw;
  height: 80vh;
  color: black;
  padding: 1rem;
  /* background-color: rgb(15,23,42); */
  background-color: rgb(34, 52, 93);
  color: rgb(250, 250, 255);
  box-shadow: 0.1rem 0.1rem 0.1rem 0.2rem rgba(0, 0, 0, 1);
  z-index: 20;
  white-space: pre-wrap; /* css-3 */
  white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word; /* Internet Explorer 5.5+ */
  overflow-y: auto;
}

.optionHintText {
  margin-top: 2rem;
  /* margin-left: 1.5rem; */
  /* font-size: large; */
}

.optionHintButton {
  position: absolute;
  border: 0;
  background-color: rgb(116, 122, 138);
  color: black;
  border-radius: 50%;
  left: 0px;
  top: 5px;
  width: 25px;
  height: 25px;
  padding: 0px;
  font-size: 12px;
  font-weight: bolder;
  font-family: tahoma;
}

.closeX {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 1rem;
  height: 1rem;
}

.closeX span {
  position: absolute;
  top: 0;
  left: 5px;
  font-size: small;
}

/* about */

.about {
  font-family: "Cormorant Garamond", "Garamond", "Georgia", serif;
  font-size: 1.2rem;
  padding: 1rem 1.5rem 2rem;
}

.about ul {
  list-style: inside;
  padding-left: 1rem;
}
.about li {
  list-style: inside;
  margin-bottom: 1rem;
}

.about em {
  font-variant: small-caps;
}

.about li strong {
  text-decoration: underline;
}

.about a {
  text-decoration: underline yellow;
}

.about .optionHintButton {
  position: relative;
  border: 0;
  background-color: yellow;
  color: black;
  border-radius: 50%;
  left: unset;
  top: unset;
  width: 15px;
  height: 15px;
  padding: 0px;
  font-size: 10px;
  font-weight: bolder;
  cursor: auto;
}

/* post-game */

.postGame {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  justify-content: flex-start;
  align-items: center;
  color: rgb(252, 211, 77);
  padding: 1rem 2rem;
}

/* misc */

.yellow {
  color: rgb(252, 211, 77);
}
