.container {
  padding: 0 2vw;
  margin: 0;
}

.main {
  height: calc(100vh - 0.5rem);
  padding: 0.25rem 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-shrink: 0;
  /* border: 1px solid red; */
  width: 100%;
}

.footer {
  display: none;
}

@media screen and (min-width: 768px) {
  .footer {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-shrink: 0;
    width: 100%;
    flex-basis: 0;
    gap: 0.3rem;
    font-size: small;
  }

  .footer a {
    display: flex;
    gap: 0.2rem;
  }

  .footer a:hover {
    text-decoration: underline;
  }
}

/* intro */

.intro {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;

  width: 100vw;
  height: max(100vh, 400px);
  min-height: 100vh;
  z-index: 30;
  margin: 0;
  padding: 0.5rem;
  background-color: rgb(8, 9, 12);
  color: rgb(241, 238, 228);

  /* border: 1px solid red; */
}

.stepFrame {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: flex-end;
  flex-shrink: 0;
  width: min(95vw, 500px);
  position: relative;
  z-index: 31;
  margin-bottom: 10px;
  flex-basis: 100%;
  /* border: 1px solid red; */
}

.stepText {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  flex-shrink: 0;
  width: 100%;
  height: 30px;
  /* background-color: rgb(4, 7, 12); */

  z-index: 31;
  margin-bottom: 1rem;
  /* border: 1px solid red; */
}

.stepImages {
  /* border: 1px solid white; */
  height: 200px;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin-bottom: 1rem;
}

.stepButtonWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  flex-basis: 100%;

  width: 100%;
  gap: 10px;
  color: white;
  z-index: 31;
  /* border: 1px solid red; */
}

.newsManText {
  font-style: italic;
}

/* story */

.background {
  position: relative;
  display: flex;
  justify-content: center;
  height: 100px;
  flex-shrink: 0;
  width: 100%;
  padding-bottom: 10px;
}

.human {
  position: absolute;
  bottom: 0;
  left: -10px;
  height: clamp(50px, 10vw, 100px);
  width: clamp(50px, 10vw, 100px);
  background: url("/noun-hiking.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 10;
}

.fishBone {
  position: absolute;
  bottom: 0;
  right: -10px;
  height: clamp(50px, 10vw, 100px);
  width: clamp(50px, 10vw, 100px);
  background: url("/noun-acorns-3351893.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 10;
}

.bear {
  position: absolute;
  bottom: 0;
  height: clamp(20px, 13vw, 125px);
  width: clamp(20px, 13vw, 125px);
  background: url("/noun-bear.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transition: left 0.8s ease-out;
  z-index: 12;
  transform: translateX(-50%) translateY(20%);
}

.bear.attack {
  transform: translateX(-50%) translateY(20%) scaleX(-1);
}

.circle {
  width: 20px;
  height: 5px;
  border-radius: 50%;
  background-color: rgb(137, 137, 137);
  position: absolute;
  bottom: calc(0%);
  transform: translateX(-50%);
}

.score {
  width: 100%;
  text-align: right;
  font-size: smaller;
  color: gray;
}

/* dialogue */

.dialogueAndOptionsContainer {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
  width: 100%;
  justify-content: flex-end;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
}

.dialogue {
  overflow-y: scroll;
  flex-basis: 0;
  flex-shrink: 2;
  flex-grow: 5;
  padding: 0.2rem;
}

.dialogue {
  scrollbar-color: rgb(30, 41, 67) rgba(0, 0, 0, 0);
}

.dialogue::-webkit-scrollbar {
  width: 0.8rem;
}

.dialogue::-webkit-scrollbar-track {
  box-shadow: inset 0.1rem 0 6px rgba(0, 0, 0, 0.2);
}

.dialogue::-webkit-scrollbar-thumb {
  background-color: rgb(30, 41, 67);
  outline: 1px solid rgb(13, 73, 57);
}

.dialogue button {
  width: 100%;
}

@media screen and (min-width: 600px) {
  .dialogue button {
    width: auto;
  }
}

/* options */

.options {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  flex-grow: 0;
  flex-shrink: 2;
  flex-basis: 0;
  justify-content: space-between;
  padding-top: 1rem;
  margin: 0;
}

.optionButtonWrapper {
  flex-basis: calc(50% - 5px);
  margin-bottom: 1rem;
  position: relative;
  display: flex;
  align-items: flex-start;
}

.optionButton {
  text-align: left;
}

.optionButton:hover {
  background-color: rgb(30, 41, 67);
}

.optionButton:nth-child(odd) {
  margin-right: 5px;
}

.optionHint,
.about {
  font-family: "Cormorant Garamond", "Garamond", "Georgia", serif;
  font-size: 1.2rem;
  position: absolute;
  top: 10vh;
  bottom: 90vh;
  left: 10vw;
  right: 90vw;
  width: 80vw;
  height: 80vh;
  color: black;
  padding: 1rem;
  /* background-color: rgb(15,23,42); */
  background-color: rgb(34, 52, 93);
  color: rgb(250, 250, 255);
  box-shadow: 0.1rem 0.1rem 0.1rem 0.2rem rgba(0, 0, 0, 1);
  z-index: 20;
  white-space: pre-wrap; /* css-3 */
  white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word; /* Internet Explorer 5.5+ */
  overflow-y: auto;
}

.optionHintText {
  margin-top: 2rem;
  /* margin-left: 1.5rem; */
  /* font-size: large; */
}

.optionHintButton {
  border: 0;
  background-color: rgb(94, 121, 192);
  color: black;
  border-radius: 50%;

  width: 25px;
  height: 25px;
  padding: 0px;
  font-size: 12px;
  font-weight: bolder;
  font-family: tahoma;
  margin-right: 5px;
  flex-shrink: 0;
}

.optionHintButton:hover {
  background-color: rgb(138, 158, 205);
}

.closeX {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 1rem;
  height: 1rem;
}

.closeX span {
  position: absolute;
  top: 0;
  left: 5px;
  font-size: small;
}

/* about */

.about {
  font-family: "Cormorant Garamond", "Garamond", "Georgia", serif;
  font-size: 1.2rem;
  padding: 1rem 1.5rem 2rem;
}

.about ul {
  list-style: inside;
  padding-left: 1rem;
}
.about li {
  list-style: inside;
  margin-bottom: 1rem;
}

.about em {
  font-variant: small-caps;
}

.about li strong {
  text-decoration: underline;
}

.about a {
  text-decoration: underline rgb(251, 206, 126);
}

.about .optionHintButton {
  background-color: rgb(94, 121, 192);
  box-shadow: 0.1rem 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.3);
  cursor: auto;
  margin-left: 3px;
}

/* post-game */

.postGame {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem 2rem;
}

/* misc */

.yellow {
  color: rgb(251, 206, 126);
}
